<div class='pure-g-r'>
	<div class='pure-u-3-4'>
    <div class="ctsmpage">
		<%= render '/refinery/content_page' %>
    </div>
	</div>
	<div ng-controller='FeedCtrl' class='pure-u-1-4'>
  <div class="ctsmfeed">
		<h3>Engineering News</h3>
		<div ng-repeat='feed in feeds'><a href='{{feed.link}}'>{{feed.title}}</a><hr></div>
	</div>
</div>
</div>