<div class="pure-g-r">

  <div class="pure-u-1">
    <div class="ctsmfooter">
      <p>
        <%= t('.copyright', :year => Time.now.year,
        :site_name => Refinery::Core.site_name) %>
      </p>

    </div>
  </div>
</div>
