<div class="pure-g-r footerbackground">
<div class="pure-u-1-5"><br /><center><%= image_tag('UMD_ball_logo.jpg', size: '120x120') %></center></div>
  <div class="pure-u-3-5">
    <center><div class="ctsmfooter">
      <h3>Center for Technology and Systems Management</h3>
      <h5>Department of Civil and Environmental Engineering</h5>
      <p>University of Maryland, College Park, MD 20742</p>
      <p>Phone: (301) 405-1956 | Fax: (301) 405-2585 | Email: ba@umd.edu</p>
    </div></center>
  </div>
  <div class="pure-u-1-5"></div>
</div>
