<div class="row ctsm-header">

<div class="col-lg-6">
  <%= image_tag('CTSM-logo.gif', :size => '260x106') %>  <%= image_tag('umd-square.gif', :size => '80x80') %>
</div>
<div class="col-lg-6">
  <%= render 'refinery/shared/customsearch' %>
</div>
</div>
<div class="row">

<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>

</div>
