<div class="pure-g-r">
<div class="ctsmheader">

    <div class="pure-u-3-5"> <%= image_tag('CTSM-logo.gif', :size => '260x106') %> </div>
    <div class="pure-u-2-5"><br /><%= render 'refinery/shared/customsearch' %> </div>
</div>
</div>

<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
