<div class="pure-g-r">
<div class="ctsmheader">

    <div class="pure-u-1-1"> <%= image_tag('ctsmbig.jpg') %> </div>
</div>
</div>

<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
